<h2 class="page-title">
  Advanced Lesson #3: :, -, and /
</h2>

<img src="dist/img/lesson3adkeyboard.gif" class="floated floated-right" />

<p>
  The last lesson is some more useful punctuation and symbols. 
  The colon is the secondary symbol on the semicolon key, 
  and is typed by holding down the <strong>shift</strong> key and 
  typing the <strong>;</strong> key with the 
  <strong>right pinky</strong>. The <strong>-</strong> is used to 
  hyphenate words and to separate thoughts. This is reached with 
  the <strong>right pinky</strong> and is the primary key so you 
  do not have to hold down shift. Last, the <strong>/</strong> is 
  typed with the <strong>right pinky</strong> by reaching down, 
  and it is also a primary key.
</p>

<p>
  Try the extra challenges when you finish!
</p>