<h2 class="page-title">
  Advanced Lesson #2: ' and "
</h2>

<img src="dist/img/lesson2adkeyboard.gif" class="floated floated-right" />

<p>
  If you need to type dialogue, or want to use contractions, 
  it is necessary to use the <strong>"</strong> and <strong>'</strong> 
  key. Both are typed by reaching the <strong>left pinky to the right.</strong> 
  The primary symbol is ' so to type ' simply strike the key. 
  To type a " hold <strong>shift</strong> with the <strong>left pinky</strong> 
  while striking the key with the right.
</p>

<p>
  Only one more lesson to go!
</p>