<h2 class="page-title">
  Advanced Lesson #1: ( and )
</h2>

<p>
  An important part of word processing is the use of parenthesis. 
  These are also "secondary" or modified keys, so to type 
  parenthesis you will need to be holding down the <strong>shift</strong> 
  key with the <strong>left pinky</strong>. The 
  <strong>opening parenthesis</strong> is typed by reaching the 
  <strong>right ring finger</strong> up 2 rows. The 
  <strong>closing parenthesis</strong> is typed by reaching the 
  </strong>right pinky</strong> up 2 rows.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  This will be tricky, but is very useful once you master it!
</p>