<h2 class="page-title">
  Extra Practice #2: "Echo"
</h2>

<p>
  This passage is adapted from the Wikipedia entry for 
  <a href="http://en.wikipedia.org/wiki/Echo_(phenomenon)">
    the word "echo."
  </a>
</p>