<h2 class="page-title">
  Extra Practice #3: "The Walrus and The Carpenter"
</h2>

<p>
  This passage is two stanzas of a famous Lewis Carrol poem, 
  <a href="http://www.jabberwocky.com/carroll/walrus.html">
    "The Walrus and The Carpenter". 
  </a>
  The poem was also recited in Alice in Wonderland by 
  Tweedledee and Tweedledum.
</p>
