<h2 class="page-title">
  Extra Practice #4: "Extreme Ironing"
</h2>

<p>
  This exercise is an excerpt from the Wikipedia article on 
  <a href="http://en.wikipedia.org/wiki/Extreme_ironing">
    "Extreme Ironing."
  </a>
</p>