<h2 class="page-title">
  Extra Practice #1: "A Series of Tubes"
</h2>

<p>
  On June 28, 2006, Senator Ted Stevens (R - Alaska) delivered a speech that included this misinformed understanding of how the internet works.
</p>