<h2 class="page-title">
  Final Test
</h2>

<p>
  You have now completed all 15 lessons and are ready for the final 
  test! However, you can still take the Advanced Lessons to learn 
  more punctuation, symbols, and numbers, or use the Extra Exercises 
  for more practice. The more you type, the more your speed and 
  accuracy will improve! Additionally, you'll find more tests, 
  exercises, lessons, and even games on the 
  <a href="#!/resources">Resources</a> page.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Congratulations!
</p>