<h2 class="page-title">
  How To Type: Hand Placement, Posture, &amp; Tips
</h2>

<p>
  To type most effectively and safely, follow these guidelines.
</p>

<h3>
  Hand Placement
</h3>

<p>
  Place your fingers on the "home row," with your index fingers 
  on <strong>F</strong> and <strong>J</strong> (note the small 
  bump on those two keys) and all other fingers on the next keys.
</p>

<div class="page-featureimage">
  <img src="dist/img/computer-keyboard-layout.png" />
</div>

<p>
  Your fingers should always remain on home row except when 
  performing a reach as part of a keystroke. The more you move 
  your fingers, the less efficient your typing will be!
</p>

<h3>
  Posture
</h3>

<p>
  To type correctly with the lowest risk for injury,
</p>

<img src="dist/img/posture.png" class="floated floated-right" />

<ul>
  <li>
    Sit forward in your chair with feet placed flat on the ground.
  </li>
  <li>
    Keep your back straight.
  </li>
  <li>
    Make sure your arms and hands are parallel to the keyboard.
  </li>
  <li>
    Keep your wrists straight, not bending up or down toward 
    the keyboard.
  </li>
  <li>
    Fingers should be curled toward each key, not flat.
  </li>
</ul>

<h3>
  Tips &amp; Tricks
</h3>

<ol>
  <li>
    <strong>DO NOT</strong> look at your fingers when typing. 
    This will slow you down in the long run even though it is 
    easier at first.
  </li>
  <li>
    Begin each exercise by finding the home row and making sure 
    you know which keys are under which fingers. This will make 
    looking at your hands unnecessary!
  </li>
  <li>
    Start slow and focus on accuracy. Speed is easier to 
    gain than poor accuracy is to fix.
  </li>
  <li>
    Be patient! Learning to type accurately and with speed 
    takes a long time and lots of practice. But, if you practice 
    regularly, you should see increases in speed and accuracy 
    within hours!
  </li>
</ol>

