<h2 class="page-title">
  Welcome to the Byte Back Typing Tutorial!
</h2>

<p>
  The Byte Back Typing Tutorial is a free course designed to 
  teach touch typing. Lessons, shown on the left, begin by 
  teaching the home row keys and then gradually add additional 
  keys until the entire keyboard is mastered.
</p>

<p>
  At the end of each exercise, your words per minute, total time, 
  errors, and characters will be displayed. Repeat each lesson 
  as many times as necessary. It is good to complete a lesson 
  with no more than <strong>5 errors</strong> and at a speed of 
  at least <strong>20 words per minute (WPM)</strong> before 
  moving on to the next lesson.
</p>

<p>
  Remember, accuracy is the key! Go slow at first and learn the 
  keyboard. Speed will come naturally with time and practice.
</p>

<p>
  Once all the lessons have been completed, additional 
  challenging exercises are provided to help increase speed 
  and accuracy.
</p>