<h2 class="page-title">
  Lesson #3: Both Hands, Home Row
</h2>

<img src="dist/img/lesson3keyboard.gif" class="floated floated-right" />

<p>
  Now it's time to combine the first two lessons. Remember to keep 
  your fingers on the home row. This is a large lesson, using almost 
  an entire row of keys so go at your own pace.
</p>

<p>
  Remember the work you did in the previous two lessons!
</p>