<h2 class="page-title">
  Lesson #11: Q and P
</h2>

<p>
  Here we will finish the top row! <strong>P and Q</strong> are 
  typed with the <strong>pinky of each hand</strong>. 
  The pinky is often one of the hardest fingers to use, 
  so take your time and make sure you are comfortable 
  using both, because P is a commonly used letter!
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Make sure you are using all the correct reaches!
</p>