<h2 class="page-title">
  Lesson #12: C and ,
</h2>

<p>
  This is an important lesson because C is a very common letter 
  and the comma (,) is your first punctuation mark. 
  <strong>The C and ,</strong> are typed by curling the 
  <strong>middle fingers</strong> down to the bottom row of keys.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  C is one of the hardest reaches to learn. Doing this will be 
  awkward at first, so make sure you are comfortable with C 
  and comma before you move on!
</p>