<h2 class="page-title">
  Lesson #5: E and I
</h2>

<p>
  So that you can quickly begin typing many words, it's time to 
  learn some more vowels! <strong>I and E</strong> are typed by 
  reaching the <strong>middle finger of each hand</strong> to the 
  top row.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Remember to return to home row position after each reach!
</p>