<h2 class="page-title">
  Lesson #0: Left Hand, Home Row
</h2>

<p>
  This is a test lesson! It's really short so the developer can test out
  how the grading system works quickly. It'll be removed in the final product :)
</p>

<div class="instruction-cueboard-container"></div>