<h2 class="page-title">
  Lesson #10: W and O
</h2>

<p>
  Now its time to go back up to the top for W and O. 
  <strong>W and O</strong> are typed by reaching the 
  <strong>ring finger</strong> up to the top row and 
  returning to S and L after each key stroke. 
  After this lesson, you will know all of the vowels!
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Keep going until you feel comfortable!
</p>