<h2 class="page-title">
  Lesson #4: Home Row with G and H
</h2>

<img src="dist/img/lesson4keyboard.gif" class="floated floated-right" />

<p>
  This is the last lesson for the home row! The <strong>G and 
  H</strong> keys are typed with the <strong>index finger on each 
  hand</strong> and are the first "reaches" you will learn. 
  G is typed by reaching the right index finger while H is typed 
  with the left. Make sure to return your fingers when you are 
  done with each reach, and try to move your other fingers as 
  little as possible during another fingers' reach.
</p>

<p>
  After this lesson, you will have learned an entire row of the 
  keyboard!
</p>