<h2 class="page-title">
  Lesson #14: The Shift Key
</h2>

<p>
  Letters are important, but to actually type, it is important to know the shift key! The shift key, a type of "modifier" key, capitalizes letters or shifts a key to its secondary symbol.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  To use the <strong>shift key</strong>, hold the shift key down 
  with the <strong>pinky of the opposite hand</strong> of the 
  letter you are typing. Make sure that when you type the 
  letter down, the shift key is held down. Make sure to release 
  the shift key before typing another key!
</p>

<p>
  Make sure you practice using both shift keys!
</p>