<h2 class="page-title">
  Lesson #9: V and M
</h2>

<img src="dist/img/lesson9keyboard.gif" class="floated floated-right" />

<p>
  Now its time to learn the last reaches for your index fingers. 
  To type <strong>V and M</strong>, reach your <strong>index 
  finger</strong> down, remembering to replace your fingers on 
  the home row after each reach.
</p>

<p>
  Keep up the good work!
</p>