<h2 class="page-title">
  Lesson #8: B and N
</h2>

<img src="dist/img/lesson8keyboard.gif" class="floated floated-right" />

<p>
  It's time to move down to the bottom row. <strong>B and N</strong> 
  are typed with the <strong>index finger of each hand.</strong> 
  Remember to return your fingers to the correct home row position. 
  Now only one reach remains for the index fingers.
</p>

<p>
  Accuracy first!
</p>