<h2 class="page-title">
  Lesson #6: R and U
</h2>

<p>
  When typing, your index fingers do the most work. Now we will 
  learn two more reaches for your index fingers. <strong>R and 
  U</strong> are typed by reaching the <strong>index finger of 
  each hand</strong> up to the top row. Always return your 
  fingers to the correct home row positions.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Now you know over half the letters!
</p>