<h2 class="page-title">
  Lesson #2: Right Hand, Home Row
</h2>

<img src="dist/img/lesson2keyboard.gif" class="floated floated-right" />

<p>
  This lesson teaches the right four keys of the home row. Your 
  <strong>index finger goes on J, middle finger on K, ring finger 
  on L, and pinky on ;</strong>. Again, leave both hands on the 
  keyboard with your thumbs on the space bar.
</p>

<p>
  Just like the first lesson, go slow and concentrate on accuracy! 
  And no peeking at your fingers either!
</p>