<h2 class="page-title">
  Lesson #7: T and Y
</h2>

<img src="dist/img/lesson7keyboard.gif" class="floated floated-right" />

<p>
  Continuing with the index fingers, it is time to learn 
  <strong>T and Y</strong>. T and Y are typed by reaching the 
  <strong>index fingers up to the top row.</strong> Now you will 
  know enough letters to spell a wide variety of words.
</p>

<p>
  Remember, you can repeat lessons as many times as you want and 
  even return to old lessons to review!
</p>