<h2 class="page-title">
  Lesson #13: Z, X, and .
</h2>

<p>
  This may be the hardest lesson because you are working with 
  uncommon letters. This makes is even more important, however, 
  because you will not get as much practice with them! 
  <strong>Z</strong> is typed by curling the <strong>left pinky</strong>
  down a row, <strong>X</strong> is typed by curling the 
  <strong>left ring finger</strong> down a row, and 
  <strong>period</strong> is typed with the 
  <strong>right ring finger</strong>.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Take your time and concentrate on using the correct reaches! 
  This exercise may be slower than many of the earlier ones.
</p>