<h2 class="page-title">
  Lesson #1: Left Hand, Home Row
</h2>

<p>
  This lesson teaches the four left keys of the home row. 
  <strong>Place your index finger on F, middle finger on D, 
  ring finger on S, and pinky on A.</strong> Your thumb goes on 
  the space bar. However, leave your right hand on the homerow as 
  well to get used to having both hands on the keyboard.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  This is your first lesson, so go slow and try to get fewer than
   five errors and faster than 20 words per minute (WPM).
</p>

<p>
  Spend a minute memorizing the finger positions, and then keep 
  your eyes on the exercise and not on your hands. And don't forget 
  good <a href="#!/how-to-type">posture</a>!
</p>