<h2 class="page-title">
  Lesson #15: ? and !
</h2>

<p>
  You can already punctuate your sentences, but now it's time to 
  add some expression. Exclamation point and the question mark 
  are the secondary uses of their keys, meaning that you must hold 
  the shift key while typing them. For <strong>!</strong> hold the 
  <strong>shift</strong> key with your <strong>right pinky</strong> 
  while reaching up to the <strong>1(!)</strong> key in the number 
  row with your </strong>left pinky</strong>. To type 
  <strong>?</strong> hold <strong>shift</strong> with the 
  <strong>left pinky</strong> while reaching down to the 
  <strong>/(?) key</strong> with your <strong>right pinky</strong>.
</p>

<div class="instruction-cueboard-container"></div>

<p>
  Once you master these, you're ready for the final test!
</p>

<p>
  <strong>Fun Fact:</strong> An exclamation point followed by a question mark 
  is technically called an 
  "<a href="http://en.wikipedia.org/wiki/Interrobang">interrobang</a>." 
  It looks like this: <strong>‽</strong>. A reverse and upside-down interrobang is 
  called a <strong>"gnaborretni"</strong> ("interrobang" backwards).
</p>