<h2 class="page-title">
  Lesson #11: Q and P
</h2>

<img src="dist/img/lesson11keyboard.gif" class="floated floated-right" />

<p>
  Here we will finish the top row! <strong>P and Q</strong> are 
  typed with the <strong>pinky of each hand</strong>. 
  The pinky is often one of the hardest fingers to use, 
  so take your time and make sure you are comfortable 
  using both, because P is a commonly used letter!
</p>

<p>
  Make sure you are using all the correct reaches!
</p>