<h2 class="page-title">
  Online Typing Resources
</h2>

<p>
  Get extra practice and access to free services. From computer 
  mouse practice to advanced online courses, career development 
  services and even access to professional attire, it’s all here:
  <br/>
  <a href="http://byteback.org/students/student-resources" target="_blank">
    Byte Back Student Resources
  </a>
</p>

<h3>
  Free Typing Resources
</h3>

<ul>
  <li>
    <a href="http://www.sense-lang.org/typing/">Senselang</a>: 
    Create your own lessons by pasting text into the lesson box.</li>
  <li>
    <a href="http://www.powertyping.com/qwerty/lessonsq.html">Power Typing</a>: 
    Great for extra practice.</li>
  <li>
    <a href="http://www.typingtest.com/games.html">Typing Games</a>: 
    Free and fun typing games for all ages. 
    Try <a href="http://www.typingtest.com/games/keytower.html?keys=abcdefghijklmnopqrstuvwxyz">Key Tower</a>
    and <a href="http://www.typingtest.com/games/typing-attack/">Typing Attack</a>!</li>
  <li>
    <a href="http://www.typingtest.com/">Typing Test</a>
  </li>
</ul>