<h2 class="page-title">
  Online Typing Resources
</h2>

<p>
  This page contains links to other free, online typing resources 
  that provide additional practice and fun.
</p>

<h3>
  Typing Lessons
</h3>

<ul>
  <li>
    <a href="http://www.typing-lessons.org/">Peter's Online Typing Course</a>: 
    Includes instructions, lessons, and practice exercises.</li>
  <li>
    <a href="http://www.sense-lang.org/typing/">Senselang</a>: 
    Create your own lessons by pasting text into the lesson box.</li>
  <li>
    <a href="http://www.powertyping.com/qwerty/lessonsq.html">Power Typing</a>: 
    Another site good for more practice.</li>
</ul>

<h3>
  Typing Games
</h3>

<ul>
  <li>
    <a href="http://www.freetypinggame.net/">Free Typing Games</a>: 
    Includes many good typing games with 30 skill levels each. Focus on anything from homerow to the entire keyboard. Try "The Frogs Are Off Their Diet" for beginners or "Space Invaders" for more advanced typers.</li>
  <li>
    <a href="http://www.powertyping.com/baracuda/baracuda.htm">Barracuda</a>: 
    Another good game for beginners.</li>
  <li>
    <a href="http://www.popcap.com/gamepopup.html?theGame=typershark">Typer Shark</a>: 
    A flashy shockwave game, good for more advanced typers.</li>
</ul>

<h3>
  Typing Tests
</h3>

<p>
  The following tests are simple, easy to use, and provide accurate 
  assessments of your typing ability, giving words per minute in 
  addition to a number of other statistics.
</p>

<ul>
  <li>
    <a href="http://www.typingtutor.org/">Typing Tutor</a>
  </li>
  <li>
    <a href="http://www.learn2type.com/TypingTest">Learn2Type</a>
  </li>
  <li>
    <a href="http://www.supertypingwizard.com/wordsperminute.aspx">Super Typing Wizard</a> 
  </li>
</ul>
