<h2 class="page-title">
  Using the Tutorial
</h2>

<p>
  The Byte Back Typing Tutorial is easy to use! After reading 
  this guide, start with <a href="#!/lesson-1">Lesson #1</a> and 
  complete all 15 lessons in order.
</p>

<p>
  Make sure that when you are doing the exercises, you can see 
  the exercise, the keyboard, and the statistics!
</p>

<div class="page-featureimage">
  <img src="dist/img/howtouse.jpg" />
</div>

<ol>
  <li>
    <strong>The Exercise:</strong> The exercise is the top section
    of text. This is the text that you type in each exercise. 
    When you open an exercise, the first letter should be black 
    and underlined. The timer and WPM counter will start when you 
    begin typing.
    <ul>
      <li>
        Watch out for spaces. Any characters other than a space 
        for spaces count as normal errors.
      </li>
    </ul>
  </li>
  <li>
    <strong>The Keyboard:</strong> The keyboard can help you 
    avoid looking at your hands. The current letter you need to 
    type will be in yellow. If you type a wrong letter, it will 
    show you what you typed in red. If nothing is showing and 
    the exercise is not over, you are probably on a space.
  </li>
  <li>
    <strong>The Statistics:</strong> The statistics are just under 
    the keyboard. <strong>Characters</strong> tells you how many 
    keystrokes you have typed so far, <strong>errors</strong> tracks 
    the number of incorrect keystrokes, <strong>WPM</strong> tells 
    you how many words per minute you are typing, and 
    <strong>time</strong> tracks how long the exercise has taken you.
    <ul>
      <li>
        Aim to get fewer than five errors and more than 20 WPM for 
        each exercise. Expect that you will have to do each exercise 
        multiple times to reach this goal.
      </li>
    </ul>
  </li>
  <li>
    <strong>Restart Exercise:</strong> If you need to do the 
    exercise again, you can click the "Restart Exercise" button to 
    reload the page and its exercise. When you are ready to move on, 
    select the next lesson in the navigation menu.
  </li>
</ol>