<h2 class="page-title">
  Using the Tutorial
</h2>

<p>
  The Byte Back Typing Tutorial is easy and fun to use! Read 
  this guide, then start with <a href="#!/lesson-1">Lesson #1</a> and 
  complete all 15 lessons in order.
</p>

<p>
  If this is not your home computer, click "Clear Statistics" 
  before you start.
</p>

<ol>
  <li>
    <strong>Get ready:</strong> Take the correct posture and 
    position your hands on the highlighted keys
  </li>
  <li>
    <strong>Click "Start Exercise":</strong> The green button – 
    the clock will start clicking as soon as you type a key
  </li>
  <li>
    <strong>What to Type:</strong> The text will be at the 
    top of the page. The first letter will be red and underlined. 
    Hint: Watch out for spaces – they count too.
    
    <div class="page-featureimage">
      <img src="dist/img/typebox-screencap.png" />
    </div>
  </li>
  <li>
    <strong>Where to Look:</strong> Look at the keyboard on your 
    screen, not at your hands! The current letter you need to type 
    swill be in green.
  </li>
  <li>
    <strong>Stats:</strong> The statistics are above the keyboard. 
    
    <div class="page-featureimage">
      <img src="dist/img/scorecenter-screencap.png" />
    </div>
    
    <ul>
      <li>
        <em>Characters</em> – number of keystrokes you have typed
      </li>
      <li>
        <em>Errors</em> – number of incorrect keystrokes
      </li>
      <li>
        <em>Accuracy</em> – percent of keystrokes you have correct
      </li>
      <li>
        <em>WPM</em> – how many words per minute you are typing
      </li>
    </ul>
  </li>
  <li>
    <strong>Goal:</strong> Get fewer than five errors and more 
    than 20 WPM for each exercise. We have high expectations for 
    you, so you will probably have to do each exercise multiple 
    times to reach this goal.

    <div class="page-featureimage">
      <img src="dist/img/overlay-screencap.png" />
    </div>
  </li>
  <li>
    <strong>Track Your Progress:</strong> If you reach your 
    goal, a green circle will appear next to the lesson. 
    If you don’t pass, a red dot will appear. Track your 
    progress and repeat lessons you haven’t passed yet.
  </li>
</ol>