$color_typebox_active: rgb(255, 0, 0);
$color_text: rgb(51, 51, 51);
$color_start_background: #89c900;
$color_clear_background: red;
$color_blue_background: #198cff;
$color_gray_background: rgb(172, 172, 172);

$color_inactive_key: rgb(172, 172, 172);
$color_next_key: #89c900;
$color_active_key: #198cff;
$color_new_key: $color_active_key;
$color_learned_key: lighten($color_active_key, 35%);

$color_wpm_background: rgba(137, 201, 0, .95);
$color_accuracy_background: rgba(25, 140, 255, .95);

$color_aside_background: #efefef;
$color_main_header: #198cff;
$color_link_text: #198cff;

$font_declaration: "Oxygen", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color_text;
  font-family: $font_declaration;
  display: table-row;
}

.hideUntilLoaded {
  display: none;
}

a {
  color: $color_link_text;
  text-decoration: none;
}

.sidebar {
  display: table-cell;
  height: 100%;
  width: 200px;
  color: $color_main_header;
  font-size: 1em;
  vertical-align: top;
  background: $color_aside_background;
}

.sidebar-container {
  margin: 20px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-sectiontitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.sidebar-pagelink {
  margin-bottom: 3px;
  color: $color_text;
  text-decoration: none;
}

.sidebar-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  ms-border-radius: 10px;
  border-radius: 10px;
  border: dotted 1px $color_text;
}

.sidebar-status-started {
  border: solid 3px red;
}

.sidebar-status-completed {
  border: solid 1px green;
  background: green;
}

.sidebar-page {
  margin-bottom: 1px;
}

.main {
  padding: 10px 30px;
  display: table-cell;
  width: 750px;
  vertical-align: top;
  background: white;
  min-height: 100vh;
  position: relative;
}

.floated-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

h2, h3 {
  color: $color_main_header;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  font-family: $font_declaration;
}

.page-content {
  font-family: $font_declaration;
  padding-bottom: 30px;
}

.page-featureimage {
  text-align: center;
  margin: 20px 0;
}

.page-featureimage img {
  max-width: 100%;
}

p {
  margin-bottom: 20px;
}

ol, ul {
  list-style-position: inside;
  -webkit-margin-before: 10px;
}

li {
  margin-bottom: 5px;
}

.instruction-cueboard-container {
  margin-bottom: 20px;
}

.sidebar-clearstats {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  ms-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 2px lighten($color_clear_background, 10%);
  border-left: solid 2px lighten($color_clear_background, 10%);
  border-right: solid 2px darken($color_clear_background, 10%);
  border-bottom: solid 2px darken($color_clear_background, 10%);
  background: $color_clear_background;
  color: white;
}

.start-exercise-button {
  margin: 20px auto;
  display: none;

  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  ms-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 2px lighten($color_start_background, 10%);
  border-left: solid 2px lighten($color_start_background, 10%);
  border-right: solid 2px darken($color_start_background, 10%);
  border-bottom: solid 2px darken($color_start_background, 10%);
  background: $color_start_background;
  color: white;

  &.active {
    display: block;
  }
}

.page-container {

  .instruction-container {
    display: block;
  }

  .exercise-container {
    display: none;
  }

  &.exercise {
    .instruction-container {
      display: none;
    }

    .exercise-container {
      display: block;
    }
  }
}

.exercise-container {
  font-size: 0;

  h2 {
    margin-bottom: 20px;
  }
}

.scorecenter-container {
  font-size: 0;
  vertical-align: top;
  margin-bottom: 10px;
}

.scorecenter-display {
  width: 25%;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  padding: 0 30px;
  font-family: $font_declaration;
}

.scorecenter-displaytitle {
  font-size: .9em;
  margin-bottom: 2px;
  text-align: right;
}

.scorecenter-displayvalue {
  font-weight: bold;
  font-size: 1.8em;
  text-align: right;
}

.exercise-cueboard-container {
  width: 100%;

  .cueboard-row {
    text-align: center;
  }
}

.cueboard, .cueboard * {
  font-size: 13px;
}

.cueboard-keystate-inactive {
  border-color: $color_inactive_key;
  color: $color_inactive_key;
}

.cueboard-keystate-active {
  background: $color_active_key;
  color: white;
}

.cueboard-keystate-new {
  background: $color_new_key;
  color: white;
}

.cueboard-keystate-next {
  background: $color_next_key;
  color: white;
}

.cueboard-keystate-learned {
  background: $color_learned_key;
}

.typebox {
  font-family: monospace, sans-serif;
  font-size: 24px;
}

.controls-container {
  position: relative;
}

.overlay-container {
  display: none;
  font-size: 0;
  position: absolute;
  z-index: 2;
  background: white;
  background: rgba(255, 255, 255, .95);
  height: 100%;
  min-height: 420px;
  width: 100%;
  top: 0;
  border: solid 1px $color_text;

  &.active {
    display: block;
  }
}

.overlay-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: $color_main_header;
}

.overlay-text {
  width: 50%;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  vertical-align: top;

  &.overlay-incomplete {
    .overlay-restartbutton {
      background: $color_clear_background;
      color: white;
      border-top: solid 2px lighten($color_clear_background, 10%);
      border-left: solid 2px lighten($color_clear_background, 10%);
      border-right: solid 2px darken($color_clear_background, 10%);
      border-bottom: solid 2px darken($color_clear_background, 10%);
    }
  }

  &.overlay-complete {
    .overlay-nextbutton {
      background: $color_start_background;
      color: white;
      border-top: solid 2px lighten($color_start_background, 10%);
      border-left: solid 2px lighten($color_start_background, 10%);
      border-right: solid 2px darken($color_start_background, 10%);
      border-bottom: solid 2px darken($color_start_background, 10%);
    }
  }
}

.overlay-stats {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  height: 100%;
}

.overlay-section {
  height: 50%;
  padding: 4px 10px;
}

.overlay-sectiontitle {
  font-size: 18px;
  font-weight: bold;
  color: $color_main_header;
}

.overlay-statrow {
  font-size: 0;
}

.overlay-statrow:not(:last-child) {
  margin-top: 4px;
}

.overlay-statdate {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  width: 70%;
  margin-right: 5%;
  padding: 3px 10px;
}

.overlay-statvalue {
  font-weight: bold;
  font-size: 14px;
  width: 25%;
  display: inline-block;
  text-align: right;
  padding: 3px 10px;
}

.overlay-accuracy {
  .overlay-statvalue, .overlay-statdate {
    background: $color_start_background;
    color: white;
  }
}

.overlay-wpm {
  .overlay-statvalue, .overlay-statdate {
    background: $color_main_header;
    color: white;
  }
}

.overlay-statrow-average {
  .overlay-statvalue, .overlay-statdate {
    background: transparent;
    color: $color_text;
  }
}

.pseudo-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: solid 1px black;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  ms-border-radius: 10px;
  border-radius: 10px;
  background: $color_gray_background;
  color: $color_text;
  border-top: solid 2px lighten($color_gray_background, 10%);
  border-left: solid 2px lighten($color_gray_background, 10%);
  border-right: solid 2px darken($color_gray_background, 10%);
  border-bottom: solid 2px darken($color_gray_background, 10%);
}

.startover-container {
  text-align: right;
}

.overlay-startover {
  margin-top: 20px;
  font-size: 16px;
  width: inherit;
  display: inline-block;
  background: $color_blue_background;
  border-top: solid 2px lighten($color_blue_background, 10%);
  border-left: solid 2px lighten($color_blue_background, 10%);
  border-right: solid 2px darken($color_blue_background, 10%);
  border-bottom: solid 2px darken($color_blue_background, 10%);
  color: white;
}