$color_typebox_active: rgb(255, 0, 0);
$color_text: rgb(51, 51, 51);
$color_button_background: #89c900;

$color_inactive_key: rgb(172, 172, 172);
$color_next_key: #89c900;
$color_active_key: #198cff;
$color_new_key: $color_active_key;
$color_learned_key: lighten($color_active_key, 35%);

$color_aside_background: #efefef;
$color_main_header: #198cff;
$color_link_text: #198cff;

$font_declaration: "Oxygen", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color_text;
  background: $color_aside_background;
  font-family: $font_declaration;
  display: table-row;
}

a {
  color: $color_link_text;
  text-decoration: none;
}

.sidebar {
  display: table-cell;
  height: 100%;
  width: 200px;
  color: $color_main_header;
  font-size: 1em;
  vertical-align: top;
}

.sidebar-container {
  margin: 20px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-sectiontitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.sidebar-pagelink {
  margin-bottom: 3px;
  color: $color_text;
  text-decoration: none;
}

.sidebar-page {
  margin-bottom: 1px;
}

.main {
  padding: 10px 30px;
  display: table-cell;
  width: 750px;
  vertical-align: top;
  background: white;
  min-height: 100vh;
  position: relative;
}

.floated-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

h2, h3 {
  color: $color_main_header;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  font-family: $font_declaration;
}

.page-content {
  font-family: $font_declaration;
  padding-bottom: 30px;
}

.page-featureimage {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

ol, ul {
  list-style-position: inside;
  -webkit-margin-before: 10px;
}

li {
  margin-bottom: 5px;
}

.instruction-cueboard-container {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  border-top: solid 2px lighten($color_button_background, 10%);
  border-left: solid 2px lighten($color_button_background, 10%);
  border-right: solid 2px darken($color_button_background, 10%);
  border-bottom: solid 2px darken($color_button_background, 10%);
  background: $color_button_background;
  color: white;
}

.start-exercise-button {
  margin: 20px auto;
  display: none;

  &.active {
    display: block;
  }
}

.page-container {

  .instruction-container {
    display: block;
  }

  .exercise-container {
    display: none;
  }

  &.exercise {
    .instruction-container {
      display: none;
    }

    .exercise-container {
      display: block;
    }
  }
}

.exercise-container {
  font-size: 0;

  h2 {
    margin-bottom: 20px;
  }
}

.scorecenter-container {
  font-size: 0;
  vertical-align: top;
  margin-bottom: 10px;
}

.scorecenter-display {
  width: 25%;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  padding: 0 30px;
  font-family: $font_declaration;
}

.scorecenter-displaytitle {
  font-size: .9em;
  margin-bottom: 2px;
  text-align: right;
}

.scorecenter-displayvalue {
  font-weight: bold;
  font-size: 1.8em;
  text-align: right;
}

.exercise-cueboard-container {
  width: 100%;

  .cueboard-row {
    text-align: center;
  }
}

.cueboard, .cueboard * {
  font-size: 13px;
}

.cueboard-keystate-inactive {
  border-color: $color_inactive_key;
  color: $color_inactive_key;
}

.cueboard-keystate-active {
  background: $color_active_key;
  color: white;
}

.cueboard-keystate-new {
  background: $color_new_key;
  color: white;
}

.cueboard-keystate-next {
  background: $color_next_key;
  color: white;
}

.cueboard-keystate-learned {
  background: $color_learned_key;
}

.typebox {
  font-family: monospace, sans-serif;
  font-size: 24px;
}