<div class="header-content">
  <div class="header-branding">
    <div class="header-branding-content">
      <a href="http://byteback.org">
        <img class="header-logo" src="dist/img/header-logo.png" />
      </a>

      <div class="header-social">
        
        <div class="header-social-icon">
          <a href="https://www.facebook.com/Byte.Back.DC" target="_blank">
            <img src="dist/img/header-fb.png" />
          </a>
        </div>
        
        <div class="header-social-icon">
          <a href="https://twitter.com/ByteBackDC" target="_blank">
            <img src="dist/img/header-twitter.png" />
          </a>
        </div>
        
        <div class="header-social-icon">
          <a href="https://www.linkedin.com/company/byte-back" target="_blank">
            <img src="dist/img/header-linkedin.png" />
          </a>
        </div>
        
        <div class="header-social-icon">
          <a href="https://www.youtube.com/user/ByteBackVideos" target="_blank">
            <img src="dist/img/header-youtube.png" />
          </a>
        </div>
        
        <div class="header-social-icon">
          <a href="https://instagram.com/bytebackdc/" target="_blank">
            <img src="dist/img/header-instagram.png" />
          </a>
        </div>

        <div class="header-donate-icon">
          <a href="http://byteback.org/donate/" target="_blank">
            <img src="dist/img/header-donate.png" />
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="header-navigation">

    <div class="header-navigation-content">

      <div class="header-navlink">
        <a href="http://byteback.org/">Home</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/about/">About Us</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/students/">For Students</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/students/classes/">Classes</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/what-we-do/career/">Career Services</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/what-we-do/first-time-technology/">Computer Services</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/get-involved/">Get Involved</a>
      </div>

      <div class="header-navlink">
        <a href="http://byteback.org/blog/">Blog</a>
      </div>

    </div>

  </div>
</div>