<div class="page-container">

  <div class="instruction-container">
    <div class="page-content">
    </div>

    <button class="start-exercise-button">
      Start Exercise
    </button>
  </div>

  <div class="exercise-container">
    {{#if fullTitle}}
    <h2>
      {{fullTitle}}
    </h2>
    {{/if}}

    <div class="scorecenter-container">
    </div>

    <div class="controls-container">
      <div class="typebox-container">
      </div>

      <div class="exercise-cueboard-container">
      </div>

      <div class="startover-container">
        <button class="pseudo-button overlay-startover js-overlay-startover">
          Restart Exercise
        </button>
      </div>

      <div class="overlay-container">
      </div>
    </div>
  </div>

</div>