<div class="page-container">
</div>

<div class="lesson-container">
  <div class="textbox-container">
  </div>

  <div class="cueboard-container">
  </div>

  <div class="statistics-container">
  </div>
</div>