<div class="sidebar-container">
  <!--
  <div class="page-featureimage">
    <img src="dist/img/byte-back-logo.png" />
  </div>
  -->

  {{#each sections}}
  <div class="sidebar-section">
    {{#if title}}
    <div class="sidebar-sectiontitle">{{title}}</div>
    {{/if}}
    
    {{#each pages}}
    <div class="sidebar-page">
      {{#if lesson}}
      <div class="sidebar-status 
        {{#if state.status.started}}sidebar-status-started{{/if}}
        {{#if state.status.completed}}sidebar-status-completed{{/if}}">
      </div>
      {{/if}}
      <a class="sidebar-pagelink" href="#!/{{ hash }}">
        {{title}}
      </a>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>